/* стили для шапки*/

.header {
  position: fixed;
  width: 100%;
  background-color: var(--theme-color);
  z-index: 1;
}

.header__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 70px;
}

.logo {
  object-fit: cover;
  object-position: center;
}

.nav__list {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
}

.nav__link:hover {
  border-bottom: 1px solid var(--font-color);
}

.nav__link:focus {
  outline: none;
}

.nav__link:focus-visible {
  outline: none;
  border: 1px solid var(--font-color);
}

.button {
  border-radius: 6px;
  padding: 11px 18px;
  cursor: pointer;
}

.header__btn {
  color: var(--theme-color);
  background: var(--font-color);
  border: 1px solid var(--font-color);
}

.header__btn:hover {
  background: transparent;
  color: var(--font-color);
  transition: var(--transition);
}

/*стили для первого экрана*/

.first-screen {
  background-image: url("../img/IMAGE.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: 800px;
  display: grid;
  position: relative;
}

.first-screen__block {
  display: grid;
  align-self: center;
  justify-items: center;
  margin-inline: 120px;
  gap: 34px;
}

.first-screen__logo {
  height: 90px;
  width: 256px;
}

.first-screen__title {
  font-size: 48px;
  line-height: 110%;
  text-align: center;
}

.first-screen__desc {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.first-screen__mouse {
  --size: 60px;

  position: absolute;
  bottom: 90px;
  left: calc(100% / 2 - var(--size) / 2);
  background-image: url("../img/mouse.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: var(--size);
  width: var(--size);
}

/*стиили для второго блока*/

.wrapper {
  padding: 100px 120px;
}

.light-color {
  background-color: var(--light-color);
}

.about__block {
  padding-inline: calc(320px - 120px);
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 32px;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.items-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__item {
  color: var(--dark-color);
  max-width: 600px;
}

.about__link {
  background: var(--theme-color);
  color: var(--font-color);
  width: fit-content;
}

.accent-line {
  height: 8px;
  width: 42px;
  background-color: var(--accent-color);
  justify-self: center;
}

/*Стили для третьего блока*/

.heading-block {
  display: grid;
  justify-items: center;
  gap: 32px;
}

.heading {
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  text-align: center;
  color: var(--theme-color);
}

/*стили для четвертого блока*/

.block-indent {
  display: grid;
  gap: 32px;
}

.gap-12 {
  gap: 12px;
}

.heading-h2 {
  font-size: 32px;
  line-height: 112%;
  text-align: center;
  color: var(--theme-color);
}

.sleeping__desc {
  text-align: center;
}

.article-block-column {
  margin-inline: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 64px;
}

.article {
  display: grid;
  justify-items: center;
}

.heading-h3 {
  line-height: 150%;
  text-align: center;
  color: var(--theme-color);
}

/*Стили пятого блока*/

.justify-start {
  justify-items: start;
  justify-self: start;
}

.article-block-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.article-row {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  min-width: 568px;
}

.article__img {
  width: 32px;
  height: 32px;
}

.article__desc {
  display: grid;
}

/*слайдер*/

.slider-block {
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}

.slider-block__btn {
  background: var(--theme-color);
  border: 1px solid var(--theme-color);
  color: var(--font-color);
}

.slider-block__btn:hover {
  background: transparent;
  color: var(--theme-color);
  transition: var(--transition);
}
